/**
 * HEADER ELEMENTS
 * NAVIGATION
 * HAMBURGER MENU BUTTON 
*/

/* HEADER ELEMENTS */

header {
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 80px;
	background: #fff;
	border-bottom: 1px solid #AAA;
	text-align: center;
  z-index: 1000;
  
} @media only screen and (max-width : 768px) and (orientation:landscape)  {
  header {
	  min-height: 48px;
	}
}

header h3 {
	display: none;
	position: fixed;
	left: 34px;
	top: 21px;
	font-size: 1.9rem;
	margin: 0;
	opacity: 0.4;
} @media only screen and (max-width : 768px) {
  header h3 {
		display: block;
	}
} @media only screen and (max-width : 768px) and (orientation:landscape)  {
  header h3 {
		top: 6px;
	}
}



/* NAVIGATION */

nav {
	min-height: 100%;
	margin: 0 auto;
}

nav ul {
	margin: 20px 0 0;
  padding: 0;
  
} @media only screen and (max-width : 768px) {
  nav ul {
		display: none;
		margin-top: 48px;
		margin-bottom: 25px;
	}
} @media only screen and (max-width : 768px) and (orientation:landscape)  {
  nav ul {
		width: 70%;
		margin: 48px auto 20px;
	  min-height: 48px;
	}
}

nav ul li {
	display: inline-block;
  margin: 0 20px 0 0;
  
} @media only screen and (max-width : 768px) {
  nav ul li {
		display: block;
  }
} @media only screen and (max-width : 768px) and (orientation:landscape)  {
  nav ul li {
		display: inline-block;
	}
}

nav ul li a { 
	text-transform: uppercase; 
	line-height: 42px; 
  font-size: 1.4rem;
  
} @media only screen and (max-width : 768px) and (orientation:landscape)  {
  nav ul li a {
		line-height: 32px;
	}
}



/* HAMBURGER MENU BUTTON */

.hamburger {
	transform: scale(0.7);
	display: none;
	position: fixed;
	right: 20px;
	top: 12px;
}
@media only screen and (max-width : 768px) {
  .hamburger {
		display: block;
	}
}

@media only screen and (max-width : 768px) and (orientation:landscape)  {
  .hamburger {
		top: -5px;
	}
}
