
.letterDrop {
  position: relative;
  display: inline-block;
  transform: rotateX(-90deg);
  animation: letterDrop 2.3s ease 1 normal forwards;
}

@keyframes letterDrop {
  10% {
      opacity: 0.5;
  }
  20% {
      opacity: 0.8;
      transform: rotateX(-360deg);
  }
  100% {
      opacity: 1;
      transform: rotateX(360deg);
  }
}
