@import 'hamburgers.css';
@import 'text-effect.css';
@import 'header.css';
@import 'content.css';

html, body { 
	margin: 0; 
	padding: 0; 
	width: 100%; 
	height: 100%;
	font-family: "Ubuntu", sans-serif;
	font-size: 12px;
	line-height: 1.5;
}



a { 
	color: #4D4D4D; 
	text-decoration: none; 
}

.active { 
	/* color: #2dbccb; */ 
	color: rgb(142,174,41);
}


pre {
	white-space: pre-wrap; 
	background: #EEE;
	padding: 11px;
	line-height: 1.6rem;
	font-size: 1.4rem;
} 

blockquote {
	padding: 0 1em;
	color: #6a737d;
	border: 1px solid #dfe2e5;
	border-left: 0.5rem solid #dfe2e5;
	margin: 0;
}

